oreo/cartridges/int_creditcheck/cartridge/webreferences2/creditcheck_v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:p1="http://arvato.com/Z_ARVATO_LS_ECOM/Shop/PaymentControl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CreditCheckServiceSynchOut" targetNamespace="http://arvato.com/Z_ARVATO_LS_ECOM/Shop/PaymentControl">
	<wsdl:documentation/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://arvato.com/Z_ARVATO_LS_ECOM/Shop/PaymentControl" xmlns="http://arvato.com/Z_ARVATO_LS_ECOM/Shop/PaymentControl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="RiskCheckFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="ExchangeFaultData"/>
						<xsd:element name="addition" type="ExchangeAdditionalText"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RiskCheckResult" type="RiskCheckResult"/>
			<xsd:element name="ConfirmOrderFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="ExchangeFaultData"/>
						<xsd:element name="addition" type="ExchangeAdditionalText"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RiskCheckRequest" type="RiskCheckRequest"/>
			<xsd:element name="ConfirmOrderRequest" type="ConfirmOrderRequest"/>
			<xsd:element name="ConfirmOrderResult" type="ConfirmOrderResult"/>
			<xsd:simpleType name="RiskCheckResult.ShippingAddress.ShippingCountry.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.ShippingAddress.ShippingHouseNo.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.Customer.PoBox.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.Customer.Country.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.Customer.City.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.Customer.PostCode.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.ShippingAddress.ShippingPostCode.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.ShippingAddress.ShippingPoBox.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.ShippingAddress.ShippingCity.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.Customer.HouseNo.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.ShippingAddress.ShippingStreet.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RiskCheckResult.Customer.Street.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cb97316023d211dc95d90017a4aa3b42</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">1eb73ea1d2ce11e4b59200000029b5ee</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element name="url" type="xsd:string" minOccurs="0"/>
					<xsd:element name="id" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">0e0530b3d2ce11e4cb0500000029b5ee</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string"/>
					<xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
					<xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RiskCheckResult">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">601dbb10321e11e6ba7400000029b5ee</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="BasketId">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2219ffd8353b11e5c3828c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4"/>
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ResultCode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2219ffd9353b11e581b18c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ResultMessage">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2219ffda353b11e5ac798c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4"/>
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Customer">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e2353b11e5b3848c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="CustomerNo">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219ffdb353b11e59c608c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Salutation" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219ffdc353b11e5ae8f8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Title" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219ffdd353b11e5a09f8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Firstname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219ffde353b11e5acfc8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Lastname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219ffdf353b11e5ba428c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Street">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d1353b11e5ce658c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.Customer.Street.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d0353b11e5a3df8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="HouseNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d3353b11e59fac8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.Customer.HouseNo.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d2353b11e5a38b8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Adressextension" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d4353b11e5890e8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="PoBox" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d6353b11e5a67d8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.Customer.PoBox.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d5353b11e5c16b8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="PostCode">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d8353b11e5cf408c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.Customer.PostCode.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d7353b11e5947d8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="City">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8da353b11e5b3c58c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.Customer.City.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8d9353b11e5ae048c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Country">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8dc353b11e5ccf98c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.Customer.Country.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8db353b11e5b03e8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Email">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8dd353b11e587de8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="TelNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8de353b11e5a0998c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="30"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Birthday" type="xsd:date" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8df353b11e589c08c705a62380d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ActiveCustomer" type="xsd:boolean" minOccurs="0"/>
								<xsd:element name="RiskProviderId">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e0353b11e5a9d98c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="NewCustomer" type="xsd:boolean">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e1353b11e5af408c705a62380d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="validated" type="xsd:boolean" use="required">
								<xsd:annotation>
									<xsd:appinfo source="http://sap.com/xi/TextID">e5ab1e453f3311e5901c8c705a62380d</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ShippingAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f7353b11e5cb148c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ShippingSalutation" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e3353b11e596f48c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingTitle" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e4353b11e5af228c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingFirstname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e5353b11e58b358c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingLastname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e6353b11e599d58c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingAdressextension" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e7353b11e5c7098c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingStreet">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e9353b11e58fce8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.ShippingAddress.ShippingStreet.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8e8353b11e5ab9b8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ShippingHouseNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8eb353b11e59db78c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.ShippingAddress.ShippingHouseNo.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8ea353b11e5cd308c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ShippingPoBox" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8ed353b11e595c98c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.ShippingAddress.ShippingPoBox.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8ec353b11e5a2518c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ShippingPostCode">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8ef353b11e594c78c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.ShippingAddress.ShippingPostCode.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8ee353b11e5b6bf8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ShippingCity">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f1353b11e5bc518c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.ShippingAddress.ShippingCity.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f0353b11e5b8e98c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ShippingCountry">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f3353b11e59aba8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleContent>
											<xsd:extension base="RiskCheckResult.ShippingAddress.ShippingCountry.Content">
												<xsd:attribute name="status" use="required">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f2353b11e5cd0a8c705a62380d</xsd:appinfo>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ShippingEmail" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f4353b11e5bcaf8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingTelNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f5353b11e5b1a78c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="30"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingBirthday" type="xsd:date" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f6353b11e5a7a58c705a62380d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="validated" type="xsd:boolean" use="required">
								<xsd:annotation>
									<xsd:appinfo source="http://sap.com/xi/TextID">e5ab1e463f3311e5a6118c705a62380d</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PaymentMethods" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2219d8fa353b11e585ae8c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="PaymentMethod" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f9353b11e58b058c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:boolean">
												<xsd:attribute name="type" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">2219d8f8353b11e5c1c58c705a62380d</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeAdditionalText">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">03926018d2ce11e4ce7e00000029b5ee</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Fault_Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RiskCheckRequest">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">c3857ae20d4511e69d4300000029b5ee</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="BusinessId">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2219a2f217b11e5b28d00ffb08b8b28</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SalesOrganisation">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2219a30217b11e5aee400ffb08b8b28</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DistributionChannel">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2219a31217b11e5b7fe00ffb08b8b28</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OperationalUnit">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2219a32217b11e5c5df00ffb08b8b28</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Basket" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2219a38217b11e5ba5f00ffb08b8b28</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="BasketId">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a33217b11e5909d00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="50"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="OrderNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a34217b11e5b40600ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="BasketAmount">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a35217b11e593fe00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:decimal">
											<xsd:totalDigits value="13"/>
											<xsd:fractionDigits value="2"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="IPAddress" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a36217b11e5806d00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Currency">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a37217b11e5c56b00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="3"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="BasketValidity">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">c2cb180e353b11e584998c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:decimal">
											<xsd:totalDigits value="13"/>
											<xsd:fractionDigits value="2"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Customer">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2219a48217b11e5c93c00ffb08b8b28</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="CustomerNo">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a39217b11e5ae9700ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Salutation" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a3a217b11e5b9aa00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Title" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a3b217b11e5caec00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Firstname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a3c217b11e58efe00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Lastname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a3d217b11e5a33c00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Street">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a3e217b11e5c02400ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="60"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="HouseNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a3f217b11e5b40d00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="30"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Adressextension" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a40217b11e58aa400ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="PoBox" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a41217b11e5ab4400ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="10"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="PostCode">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a42217b11e5c03c00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="10"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="City">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a43217b11e5897200ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Country">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a44217b11e5b89e00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="2"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Email">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a45217b11e5c12d00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="TelNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a46217b11e5875100ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="30"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Birthday" type="xsd:date" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a47217b11e5c9fd00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ShippingAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2219a57217b11e595ba00ffb08b8b28</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ShippingSalutation" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a49217b11e5927300ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingTitle" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a4a217b11e5b97100ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingFirstname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a4b217b11e5957200ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingLastname">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a4c217b11e5898400ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingAdressextension" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a4d217b11e5942c00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingStreet">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a4e217b11e5972800ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="60"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingHouseNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a4f217b11e593bc00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="30"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingPoBox" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a50217b11e59cfc00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="10"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingPostCode">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a51217b11e58ffe00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="10"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingCity">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a52217b11e5b35d00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="40"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingCountry">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a53217b11e584af00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="2"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingEmail" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a54217b11e5baa100ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingTelNo" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a55217b11e58a7300ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="30"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="ShippingBirthday" type="xsd:date" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f2219a56217b11e5ab4c00ffb08b8b28</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ConfirmOrderRequest">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">d67a9447353b11e5922c00000029b5ee</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="BusinessId">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">90017d0a353411e5a51e8c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Basket">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">90017d0d353411e5b28c8c705a62380d</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="BasketId">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">90017d0b353411e592d98c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="50"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="OrderNo">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">90017d0c353411e59ad48c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="20"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="PaymentMethod">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d674e2ea353b11e5ccaf8c705a62380d</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ConfirmOrderResult">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">e12879ad217c11e5c3f200000029b5ee</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="BasketId">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ResultCode" type="xsd:int">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">25651dae217d11e5964000000029b5ee</xsd:appinfo>
							<xsd:documentation>Result code for the request: 0  request successful 50 incorrect request 99 technical error in backend</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ResultMessage">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RiskCheckRequest">
		<wsdl:documentation/>
		<wsdl:part name="RiskCheckRequest" element="p1:RiskCheckRequest"/>
	</wsdl:message>
	<wsdl:message name="RiskCheckResult">
		<wsdl:documentation/>
		<wsdl:part name="RiskCheckResult" element="p1:RiskCheckResult"/>
	</wsdl:message>
	<wsdl:message name="RiskCheckFault">
		<wsdl:documentation/>
		<wsdl:part name="RiskCheckFault" element="p1:RiskCheckFault"/>
	</wsdl:message>
	<wsdl:message name="ConfirmOrderRequest">
		<wsdl:documentation/>
		<wsdl:part name="ConfirmOrderRequest" element="p1:ConfirmOrderRequest"/>
	</wsdl:message>
	<wsdl:message name="ConfirmOrderResult">
		<wsdl:documentation/>
		<wsdl:part name="ConfirmOrderResult" element="p1:ConfirmOrderResult"/>
	</wsdl:message>
	<wsdl:message name="ConfirmOrderFault">
		<wsdl:documentation/>
		<wsdl:part name="ConfirmOrderFault" element="p1:ConfirmOrderFault"/>
	</wsdl:message>
	<wsdl:portType name="CreditCheckServiceSynchOut">
		<wsdl:documentation/>
		<wsdl:operation name="RiskCheck">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_RiskCheck"/>
			</wsp:Policy>
			<wsdl:input message="p1:RiskCheckRequest"/>
			<wsdl:output message="p1:RiskCheckResult"/>
			<wsdl:fault name="RiskCheckFault" message="p1:RiskCheckFault"/>
		</wsdl:operation>
		<wsdl:operation name="ConfirmOrders">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_ConfirmOrders"/>
			</wsp:Policy>
			<wsdl:input message="p1:ConfirmOrderRequest"/>
			<wsdl:output message="p1:ConfirmOrderResult"/>
			<wsdl:fault name="ConfirmOrderFault" message="p1:ConfirmOrderFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditCheckServiceSynchOutBinding" type="p1:CreditCheckServiceSynchOut">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="RiskCheck">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:output>
			<wsdl:fault name="RiskCheckFault">
				<soap:fault name="RiskCheckFault" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ConfirmOrders">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:output>
			<wsdl:fault name="ConfirmOrderFault">
				<soap:fault name="ConfirmOrderFault" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreditCheckServiceSynchOutService">
		<wsdl:port name="INTE" binding="p1:CreditCheckServiceSynchOutBinding">
			<soap:address location="https://pi-int.arvato-systems.de/XISOAPAdapter/MessageServlet?senderParty=AZA&amp;senderService=EXTERN_AZA&amp;receiverParty=&amp;receiverService=&amp;interface=CreditCheckServiceSynchOut&amp;interfaceNamespace=http%3A%2F%2Farvato.com%2FZ_ARVATO_LS_ECOM%2FShop%2FPaymentControl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
		<wsdl:port name="PROD" binding="p1:CreditCheckServiceSynchOutBinding">
			<soap:address location="https://pi-prod.arvato-systems.de/XISOAPAdapter/MessageServlet?senderParty=AZA&amp;senderService=EXTERN_AZA&amp;receiverParty=&amp;receiverService=&amp;interface=CreditCheckServiceSynchOut&amp;interfaceNamespace=http%3A%2F%2Farvato.com%2FZ_ARVATO_LS_ECOM%2FShop%2FPaymentControl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_RiskCheck"/>
	<wsp:Policy wsu:Id="OP_ConfirmOrders"/>
</wsdl:definitions>
