oreo/cartridges/int_sigma/cartridge/webreferences/CustomerOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://gpab.genesco.com:89/services/CustomerOrder"
	xmlns:impl="https://gpab.genesco.com:89/services/CustomerOrder"
	xmlns:intf="https://gpab.genesco.com:89/services/CustomerOrder"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns1="urn:CustomerOrder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:CustomerOrder">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="StoredValueCard">
				<sequence>
					<element name="card" nillable="true" type="xsd:string" />
					<element name="maxAmount" type="xsd:double" />
					<element name="pin" type="xsd:int" />
					<element name="reserve" type="xsd:int" />
				</sequence>
			</complexType>
			<complexType name="GiftCertificate">
				<sequence>
					<element name="giftCertNub" type="xsd:int" />
					<element name="giftCertNubAuthCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="Address">
				<sequence>
					<element name="addlAddressLine" nillable="true" type="xsd:string" />
					<element name="city" nillable="true" type="xsd:string" />
					<element name="companyName" nillable="true" type="xsd:string" />
					<element name="countryDescription" nillable="true" type="xsd:string" />
					<element name="firstName" nillable="true" type="xsd:string" />
					<element name="lastName" nillable="true" type="xsd:string" />
					<element name="state" nillable="true" type="xsd:string" />
					<element name="streetName" nillable="true" type="xsd:string" />
					<element name="streetNumber" nillable="true" type="xsd:string" />
					<element name="unitNumber" nillable="true" type="xsd:string" />
					<element name="zipCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfInt">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfGiftCertificate">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:GiftCertificate[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfString">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="OrderedItemLineItemService">
				<sequence>
					<element name="code" nillable="true" type="xsd:string" />
					<element name="description" nillable="true" type="xsd:string" />
					<element name="personalization" nillable="true"
						type="tns1:ArrayOfString" />
					<element name="taxIndicator" type="xsd:boolean" />
					<element name="unitPrice" type="xsd:double" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfOrderedItemLineItemService">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:OrderedItemLineItemService[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="OrderedItem">
				<sequence>
					<element name="addiInfos" nillable="true" type="tns1:ArrayOfString" />
					<element name="applyShipToCharges" type="xsd:boolean" />
					<element name="customProdReserved" nillable="true" type="xsd:string" />
					<element name="easyPayments" type="xsd:int" />
					<element name="giftMsg1" nillable="true" type="xsd:string" />
					<element name="giftMsg2" nillable="true" type="xsd:string" />
					<element name="lineIemShipMehod" nillable="true" type="xsd:string" />
					<element name="lineItemCommResIndicator" nillable="true"
						type="xsd:string" />
					<element name="lineItemServiceOverrideFlag" type="xsd:boolean" />
					<element name="lineItemShipChargeMethod" nillable="true"
						type="xsd:string" />
					<element name="lineItemStatus" nillable="true" type="xsd:string" />
					<element name="mediaCode" nillable="true" type="xsd:string" />
					<element name="orderQuantity" type="xsd:double" />
					<element name="orderedItemLineItemServices" nillable="true"
						type="tns1:ArrayOfOrderedItemLineItemService" />
					<element name="originationCode" nillable="true" type="xsd:string" />
					<element name="productNumber" nillable="true" type="xsd:string" />
					<element name="saleCode" nillable="true" type="xsd:string" />
					<element name="shipToAddress" nillable="true" type="tns1:Address" />
					<element name="standingOrderShipmentCycle" type="xsd:int" />
					<element name="storedValueReloadCardNum" nillable="true"
						type="xsd:string" />
					<element name="storedValueReloadPinNum" nillable="true"
						type="xsd:string" />
					<element name="unitPrice" type="xsd:double" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfOrderedItem">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:OrderedItem[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfStoredValueCard">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StoredValueCard[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="Order">
				<sequence>
					<element name="billMeLaterBirthDate" type="xsd:int" />
					<element name="billMeLaterLastFourSSN" type="xsd:int" />
					<element name="billToAddress" nillable="true" type="tns1:Address" />
					<element name="billToTitleCode" nillable="true" type="xsd:string" />
					<element name="chargeAuthInfo" nillable="true" type="xsd:string" />
					<element name="chargeCardExpirationDate" nillable="true"
						type="xsd:string" />
					<element name="chargeCardNumber" nillable="true" type="xsd:string" />
					<element name="clubPointsToRedeem" type="xsd:int" />
					<element name="computedCouponCodes" nillable="true"
						type="tns1:ArrayOfInt" />
					<element name="copyStandingOrder" type="xsd:int" />
					<element name="customReserved" nillable="true" type="xsd:string" />
					<element name="customerNumber" type="xsd:int" />
					<element name="cvvNumber" nillable="true" type="xsd:string" />
					<element name="cvvPresenceFlag" nillable="true" type="xsd:string" />
					<element name="dateOrdered" nillable="true" type="xsd:string" />
					<element name="deliveryType" nillable="true" type="xsd:string" />
					<element name="division" nillable="true" type="xsd:string" />
					<element name="doNotEmailFlag" type="xsd:boolean" />
					<element name="doNotMailFlag" type="xsd:boolean" />
					<element name="doNotPhoneFlag" type="xsd:boolean" />
					<element name="doNotRentFlag" type="xsd:boolean" />
					<element name="driverLicenseNumber" nillable="true" type="xsd:string" />
					<element name="driverLicenseSt" nillable="true" type="xsd:string" />
					<element name="ecpCheckNumber" type="xsd:int" />
					<element name="ecpMicr" nillable="true" type="xsd:string" />
					<element name="elecCheckAccountNub" nillable="true" type="xsd:string" />
					<element name="elecCheckAmount" type="xsd:double" />
					<element name="elecCheckBankNub" type="xsd:int" />
					<element name="emailAddress" nillable="true" type="xsd:string" />
					<element name="emailConfirmFlag" type="xsd:boolean" />
					<element name="emailPromoFlag" type="xsd:boolean" />
					<element name="expireCycles" type="xsd:int" />
					<element name="expireDate" type="xsd:int" />
					<element name="faxNumber" nillable="true" type="xsd:string" />
					<element name="giftCertificates" nillable="true"
						type="tns1:ArrayOfGiftCertificate" />
					<element name="giftOrderIndicator" type="xsd:boolean" />
					<element name="holdDate" type="xsd:int" />
					<element name="holdReason" nillable="true" type="xsd:string" />
					<element name="holdUntilDate" nillable="true" type="xsd:string" />
					<element name="initialCycleDays" type="xsd:int" />
					<element name="initialCycleShipMethod" nillable="true"
						type="xsd:string" />
					<element name="initialShipChargeMethod" nillable="true"
						type="xsd:string" />
					<element name="invoiceMsg1" nillable="true" type="xsd:string" />
					<element name="invoiceMsg2" nillable="true" type="xsd:string" />
					<element name="manualCouponAmount" type="xsd:double" />
					<element name="manualCouponCode" type="xsd:int" />
					<element name="miscAmount" type="xsd:double" />
					<element name="miscDescription" nillable="true" type="xsd:string" />
					<element name="netAmount" type="xsd:double" />
					<element name="normalCycleDays" type="xsd:int" />
					<element name="orderClass" nillable="true" type="xsd:string" />
					<element name="orderIPAddress" nillable="true" type="xsd:string" />
					<element name="orderType" nillable="true" type="xsd:string" />
					<element name="orderedItems" nillable="true"
						type="tns1:ArrayOfOrderedItem" />
					<element name="ovrideDiscAmount" type="xsd:double" />
					<element name="payMethod" nillable="true" type="xsd:string" />
					<element name="payMethodAdditionalInfo" nillable="true"
						type="xsd:string" />
					<element name="paymentMethod" nillable="true" type="xsd:string" />
					<element name="phoneNumber" nillable="true" type="xsd:string" />
					<element name="phoneNumber2" nillable="true" type="xsd:string" />
					<element name="predepositAmount" type="xsd:double" />
					<element name="prepaidAmount" type="xsd:double" />
					<element name="purchaseOrderNumber" nillable="true" type="xsd:string" />
					<element name="rushIndicator" type="xsd:boolean" />
					<element name="salesperson" type="xsd:int" />
					<element name="shipByDate" nillable="true" type="xsd:string" />
					<element name="shipChargeAmount" type="xsd:double" />
					<element name="shipChargeType" nillable="true" type="xsd:string" />
					<element name="shipComplete" nillable="true" type="xsd:string" />
					<element name="shipToAddress" nillable="true" type="tns1:Address" />
					<element name="shipToPhoneNub" nillable="true" type="xsd:string" />
					<element name="shipToTitleCode" nillable="true" type="xsd:string" />
					<element name="shippingCode" nillable="true" type="xsd:string" />
					<element name="shippingInfo" nillable="true" type="xsd:string" />
					<element name="sourceCode" nillable="true" type="xsd:string" />
					<element name="storedValueCards" nillable="true"
						type="tns1:ArrayOfStoredValueCard" />
					<element name="taxAmount" type="xsd:double" />
					<element name="totalAmount" type="xsd:double" />
					<element name="warehouseMsg1" nillable="true" type="xsd:string" />
					<element name="warehouseMsg2" nillable="true" type="xsd:string" />
					<element name="webOrderNumber" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="OrderedItemPricing">
				<sequence>
					<element name="expectedDate" nillable="true" type="xsd:string" />
					<element name="lineItemServiceCharge" type="xsd:double" />
					<element name="price" type="xsd:double" />
					<element name="productNumber" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="ShippingInfo">
				<sequence>
					<element name="shippingCharge" type="xsd:double" />
					<element name="shippingMethod" nillable="true" type="xsd:string" />
					<element name="shippingMethodDesc" nillable="true" type="xsd:string" />
					<element name="taxCharge" type="xsd:double" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfShippingInfo">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ShippingInfo[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="OrderInfo">
				<sequence>
					<element name="appliedCouponAmount" type="xsd:int" />
					<element name="appliedGiftCardAmount" type="xsd:double" />
					<element name="appliedGiftCertAmount" type="xsd:int" />
					<element name="assignedCustomerNumber" type="xsd:int" />
					<element name="assignedOrderNumber" type="xsd:int" />
					<element name="chargeCardAuth" nillable="true" type="xsd:string" />
					<element name="clubPointsEarned" type="xsd:int" />
					<element name="clubSavings" type="xsd:int" />
					<element name="defaultShippingCharge" type="xsd:double" />
					<element name="defaultShippingMethod" nillable="true" type="xsd:string" />
					<element name="defaultTaxCharge" type="xsd:double" />
					<element name="freeItemsFlag" nillable="true" type="xsd:string" />
					<element name="orderDiscountAmount" type="xsd:int" />
					<element name="orderNetAmount" type="xsd:double" />
					<element name="shippings" nillable="true"
						type="tns1:ArrayOfShippingInfo" />
					<element name="specialDayFlag" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfOrderedItemPricing">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:OrderedItemPricing[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="OrderTransResponse">
				<sequence>
					<element name="errorLine" type="xsd:int" />
					<element name="orderInfo" nillable="true" type="tns1:OrderInfo" />
					<element name="orderedItemPricings" nillable="true"
						type="tns1:ArrayOfOrderedItemPricing" />
					<element name="responseCode" nillable="true" type="xsd:string" />
					<element name="responseMessage" nillable="true" type="xsd:string" />
					<element name="transactionID" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="forcedCaptureOrderRequest">
		<wsdl:part name="transactionID" type="xsd:string" />
		<wsdl:part name="companyNumber" type="xsd:int" />
		<wsdl:part name="order" type="tns1:Order" />
		<wsdl:part name="transOrderType" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="editOrderRequest">
		<wsdl:part name="transactionID" type="xsd:string" />
		<wsdl:part name="companyNumber" type="xsd:int" />
		<wsdl:part name="order" type="tns1:Order" />
		<wsdl:part name="transOrderType" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="forcedCaptureOrderResponse">
		<wsdl:part name="forcedCaptureOrderReturn" type="tns1:OrderTransResponse" />
	</wsdl:message>
	<wsdl:message name="captureOrderResponse">
		<wsdl:part name="captureOrderReturn" type="tns1:OrderTransResponse" />
	</wsdl:message>
	<wsdl:message name="editOrderReturnItemPricingResponse">
		<wsdl:part name="editOrderReturnItemPricingReturn" type="tns1:OrderTransResponse" />
	</wsdl:message>
	<wsdl:message name="editOrderResponse">
		<wsdl:part name="editOrderReturn" type="tns1:OrderTransResponse" />
	</wsdl:message>
	<wsdl:message name="captureOrderRequest">
		<wsdl:part name="transactionID" type="xsd:string" />
		<wsdl:part name="companyNumber" type="xsd:int" />
		<wsdl:part name="order" type="tns1:Order" />
		<wsdl:part name="transOrderType" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="editOrderReturnItemPricingRequest">
		<wsdl:part name="transactionID" type="xsd:string" />
		<wsdl:part name="companyNumber" type="xsd:int" />
		<wsdl:part name="order" type="tns1:Order" />
		<wsdl:part name="transOrderType" type="xsd:string" />
	</wsdl:message>
	<wsdl:portType name="CustomerOrder">
		<wsdl:operation name="editOrder"
			parameterOrder="transactionID companyNumber order transOrderType">
			<wsdl:input name="editOrderRequest" message="impl:editOrderRequest" />
			<wsdl:output name="editOrderResponse" message="impl:editOrderResponse" />
		</wsdl:operation>
		<wsdl:operation name="editOrderReturnItemPricing"
			parameterOrder="transactionID companyNumber order transOrderType">
			<wsdl:input name="editOrderReturnItemPricingRequest"
				message="impl:editOrderReturnItemPricingRequest" />
			<wsdl:output name="editOrderReturnItemPricingResponse"
				message="impl:editOrderReturnItemPricingResponse" />
		</wsdl:operation>
		<wsdl:operation name="captureOrder"
			parameterOrder="transactionID companyNumber order transOrderType">
			<wsdl:input name="captureOrderRequest" message="impl:captureOrderRequest" />
			<wsdl:output name="captureOrderResponse" message="impl:captureOrderResponse" />
		</wsdl:operation>
		<wsdl:operation name="forcedCaptureOrder"
			parameterOrder="transactionID companyNumber order transOrderType">
			<wsdl:input name="forcedCaptureOrderRequest" message="impl:forcedCaptureOrderRequest" />
			<wsdl:output name="forcedCaptureOrderResponse" message="impl:forcedCaptureOrderResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerOrderSoapBinding" type="impl:CustomerOrder">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="editOrder">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="editOrderRequest">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://webservices.sigma.com" />
			</wsdl:input>
			<wsdl:output name="editOrderResponse">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://gpab.genesco.com:89/services/CustomerOrder" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editOrderReturnItemPricing">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="editOrderReturnItemPricingRequest">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://webservices.sigma.com" />
			</wsdl:input>
			<wsdl:output name="editOrderReturnItemPricingResponse">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://gpab.genesco.com:89/services/CustomerOrder" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="captureOrder">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="captureOrderRequest">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://webservices.sigma.com" />
			</wsdl:input>
			<wsdl:output name="captureOrderResponse">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://gpab.genesco.com:89/services/CustomerOrder" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="forcedCaptureOrder">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="forcedCaptureOrderRequest">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://webservices.sigma.com" />
			</wsdl:input>
			<wsdl:output name="forcedCaptureOrderResponse">
				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://gpab.genesco.com:89/services/CustomerOrder" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerOrderService">
		<wsdl:port name="CustomerOrder" binding="impl:CustomerOrderSoapBinding">
			<wsdlsoap:address
				location="https://gpab.genesco.com:89/services/CustomerOrder" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>